.btn {
  width: 100%;
  height: 100%;
  padding: 3vw 4.5vh;
  font-size: x-large;
  background-color: black;
  color: white;
  border-radius: 30%;
}
#Controlltable {
  display: flex;
  justify-content: center;
}
.screen {
  width: 50vw;
  height: 30vh;
  padding: 100%;
  margin: 1px;
  color: gray;
}
